In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime
import csv

In [2]:
covid = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [3]:
# Data Clean
covid_clean = covid[['date','county','state','cases']]
covid_clean.to_csv('new_covid_counties_data.csv', index=False)
covid_clean_new = pd.read_csv('new_covid_counties_data.csv')
covid_clean_new.head()

         date     county       state  cases
0  2020-01-21  Snohomish  Washington      1
1  2020-01-22  Snohomish  Washington      1
2  2020-01-23  Snohomish  Washington      1
3  2020-01-24       Cook    Illinois      1
4  2020-01-24  Snohomish  Washington      1

In [6]:
# Get the data of counties from new_covid_counties_data.csv file

oregon_covid = pd.read_csv('new_covid_counties_data.csv')

data = []

for i in range(len(oregon_covid)):
  if oregon_covid.iloc[i].state == 'Oregon':
    data.append(oregon_covid.iloc[i])

new_oregon_covid_data = pd.DataFrame(data, columns = ['date', 'county', 'state', 'cases'])
new_oregon_covid_data.to_csv('only_for_oregon_counties.csv', index=False)
new_oregon_covid_data.head()

           date      county   state  cases
369  2020-02-28  Washington  Oregon      1
391  2020-02-29  Washington  Oregon      1
417  2020-03-01  Washington  Oregon      2
449  2020-03-02  Washington  Oregon      2
484  2020-03-03  Washington  Oregon      2

In [12]:
# Get the Washington county data from only_for_oregon_counties.csv file

washington_county = pd.read_csv('only_for_oregon_counties.csv')

data = []

for i in range(len(washington_county)):
  if washington_county.iloc[i].county == 'Washington':
    data.append(washington_county.iloc[i])

new_washington_covid_data = pd.DataFrame(data, columns = ['date', 'county', 'state', 'cases'])
new_washington_covid_data.to_csv('only_for_washington_county.csv', index=False)
new_washington_covid_data.head()

         date      county   state  cases
0  2020-02-28  Washington  Oregon      1
1  2020-02-29  Washington  Oregon      1
2  2020-03-01  Washington  Oregon      2
3  2020-03-02  Washington  Oregon      2
4  2020-03-03  Washington  Oregon      2